@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~stream-chat-react/dist/css/v2/index.css";

.str-chat {
  --str-chat__primary-color: theme(colors.blue.500);
  --str-chat__active-primary-color: theme(colors.blue.600);
  --str-chat__disabled-color: theme(colors.gray.200);
  --str-chat__cta-button-border-radius: theme(borderRadius.DEFAULT);
}

.dark .str-chat {
  --str-chat__disabled-color: theme(colors.gray.600);
}

.str-chat * {
  font-family: inherit !important;
}

/* Search box height glitch fix */
.str-chat__channel-search.str-chat__channel-search--with-results.str-chat__channel-search--inline {
  height: fit-content;
}
